name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - uses: pre-commit/action@v3.0.0

      - name: Setup uv
        uses: astral-sh/setup-uv@v1
        with:
          enable-cache: true
          version: "0.8.11"

      - name: Build the project
        run: uv build
