name: Publish Python Package

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment:
        name: release
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Setup uv
        uses: astral-sh/setup-uv@v1
        with:
          enable-cache: true
          version: "0.8.11"

      - name: Build package
        run: |
          uv build

      - name: Publish to PyPI
        run: |
          uv upload dist/*
